@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
    outline: none;
}

:root {
  --even-bgtwo:#393E46 ;
  --even-bg:#1d2024;
  --odd-bg:#222831 ;
  --font-color:#EEEEEE;
  --primary-font:#7BC74D;
  --margin-left:40px;
  --margin-right:40px;

}

body{
    background-color: var(--odd-bg);
    position:relative;
    z-index:-3;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    justify-content: center;
}

nav{
    display: flex;
    backdrop-filter: blur(8px);
    background-color: rgba(12, 16, 18, 0.274);
    width: fit-content;
    padding: 5px;
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-radius: 100px;
    gap: 20vw;
    border: 0.2px solid rgba(255, 255, 255, 0.1);
}

ul{
    display: flex;
    gap: 20px;
}

ul li{
        color: var(--font-color);
        transition: 0.6s ease;

}

ul li:hover{
    color: #afafaf;
}

.navleft{
    display: flex;
    align-items: center;
    color: var(--font-color);
    gap: 10px;
}

.navleft h2{
    font-weight: 400;
}

.navleft img{
    background-color: white;
    border-radius: 100px;
    height: 50px;
    padding: 5px;
    float: left;
}

.navright{
    display: flex;
    gap: 7px;
    align-items: center;

}

.insta{
     color: black;
    background-color: var(--font-color);
    padding: 4px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    height: 35px;
    width: 35px;
    transition: 0.3s ease;
}

.insta:hover{
    transform: rotate(45deg);
    border-radius: 100px;
}


.navright .what{
    color: black;
    background-color: var(--font-color);
    padding: 2px;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    height: 35px;
    width: 35px;
    transition: 0.4s ease;
}

.what:hover{
    transform: rotate(45deg);
    border-radius: 10px;
}

.github{
    backdrop-filter: blur(8px);
    background: black;
    border-radius: 100px;
    display: flex;
    color: var(--font-color);
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 4px  4px 4px 15px;
    cursor: pointer;

}

button{
    cursor: pointer;
}



.github button{
    transform: rotate(25deg);
    transition: 0.6s ease;
    font-size: 19px;
}

.github:hover button{
    transform: rotate(90deg);
}

.odd-one, .odd, .even{
    display: flex;
    align-items: center;
    
}

.odd, .even{
    position: relative;
    z-index: 2;
}

.odd-one{
    height: 87vh;
    width: 100%;
    background-color: var(--odd-bg);
    position: relative;
    z-index: -2;
}

.even{
    height: 100vh;
    width: 100%;
    background-color: var(--even-bg);
}

.inner{
    color: #fff;
    line-height: 1;
    font-size: 3.3rem;
}

.right, .left{
    height: 100%;
}

.inner{
    margin-left: var(--margin-left);
    margin-top: 25%;
}

.typer{
    margin-left: var(--margin-left);
}

.typer a{
    color: #fff;
}


.circle{
    height: 700px;
    width: 700px;
    border: 40px solid var(--primary-font);
    border-radius: 500px;
    background: none;
    position: absolute;
    margin-left: 12.5%;
    z-index:-1 ;
    margin-top: 6%;
    box-shadow: 0 0 320px 20px rgba(123, 199, 77, 0.6), 0 0 520px 40px rgba(123, 199, 77, 0.3), inset 0 0 30px 10px rgba(0, 0, 0, 0.3);
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: var(--margin-left);
    margin-top: 10px;
    position: absolute;
    z-index: 1000;

}

.media{
    width: fit-content;
    backdrop-filter: blur(8px);
    background-color: rgba(12, 16, 18, 0.274);
    display: flex;
    border-radius: 100px;
    padding: 6px 6px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.media button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100px;
    padding: 3px;
    backdrop-filter: blur(8px);
    background-color: rgba(12, 16, 18, 0.493);
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
}



.media button:hover{
    background-color: #fff;
    color:#000;
    border-radius: 10px;
    transform: rotate(45deg);
}


   .cv {
      backdrop-filter: blur(8px);
    background-color: rgba(12, 16, 18, 0.274);
    border: none;
    border-radius: 100px;
    color: #fff;
    height: 50px;
    width: fit-content;
    padding: 7px;
    padding-right: 15px;
    transition: 0.6s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .cv:hover {
      background-color: #fff;
      color: #000;
    }

    .btndo {
      position: relative;
      background-color: #fff;
      height: 38px;
      width: 38px;
      border: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      color: #000;
      transition: 0.6s ease;
      overflow: visible;
    }

    .cv:hover .btndo {
      background-color: #000;
      color: #fff;
    }

    /* Hover animation: arrow bounces down */
    .cv:hover .btndo i.bi-arrow-down {
      animation: arrowDown 0.6s ease-in-out infinite;
    }

    @keyframes arrowDown {
      0% { transform: translateY(0); }
      50% { transform: translateY(6px); }
      100% { transform: translateY(0); }
    }

    /* Circular outline setup */
    .circledo {
      position: absolute;
      top: -6px;
      left: -6px;
      width: 50px;
      height: 50px;
      transform: rotate(-90deg);
      pointer-events: none;
    }

    .circledo circle {
      fill: none;
      stroke: #fff;
      stroke-width: 2.5;
      stroke-dasharray: 145;
      stroke-dashoffset: 145;
      stroke-linecap: round;
      transition: stroke-dashoffset 1.5s linear;
    }

    .cv:hover circle{
        stroke: #000;
    }

    /* Active circle animation */
    .btndo.active .circledo circle {
      stroke-dashoffset: 0;
    }

    /* When tick appears */
    .btndo.done i {
      color: #7BC74D;
      font-size: 30px;
      transition: 0.3s ease;
    }

    .marq{
        z-index: 5;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        height: 20px;
        width: 100%;
    }

    .marq marquee{
        font-size: 15px;
        color: #fff;
        background-color: transparent;
    }

      .marq .two{
        font-size: 15px;
        color: #fff;
        background-color: transparent;
    }

      .marqup{
        z-index: 5;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: 20px;
        width: 100%;
    }

    .marqup marquee{
        font-size: 15px;
        color: #fff;
        background-color: transparent;
    }

      .marqup .two{
        font-size: 15px;
        color: #fff;
        background-color: transparent;
    }


.lefttwo{
    display: block;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 0;
}








#talkbubble 
{
    margin:0 auto;
    width:500px;
    height: 350px;
    background: var(--odd-bg);
    position: relative;
    border-radius:20px;
    border-bottom-left-radius:0px;
}
#talkbubble:before 
{
    content:"";
    position: absolute;
    background:var(--odd-bg);
    top: 95%;
    width: 228px;
    height: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}
#talkbubble:after
{
   content:"";
   position: absolute;
   top:100%;
   left:228px;
   background:-webkit-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 10px, var(--odd-bg) 10px);
   width: 10px;
   height: 10px;
}

.innerdivpa{
    background-color: #fff;
    height: 35px;
    border-radius: 10px;
    width: fit-content;
    position: absolute;
    bottom: -45px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 2px 0 7px;
}

.innerdivpa h4{
        font-weight: 400;
        padding: 0 10px 0 0;

}

.innerdivpa button{
  background-color: #000;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  border: none;
  padding: 2px;
  color: #fff;
  transition: 0.3s ease;
}

.innerdivpa button:hover{
   transform: rotate(45deg);
}

.righttwo{
    display: block;
    margin: 0 auto;
    width: 500px;
    position: absolute;
    right: 200px;
}

 .rightaboutme{
    margin-top: 100px;
        width: 50%;
        margin-left: 100px;
    }

    .rightaboutme h3{
        font-size: 60px;
        line-height: .5;
        margin-left: -30px;
        color: #fff;
    }

    .rightaboutme p{
        font-size: 15px;
        width: 500px;
        margin-top: 20px;
        margin-left: -30px;
        color: #fff;
    }

    .buttomtags button{
        border: 2px solid #7BC74D;
        background: none;
        color: white;
        border-radius: 10px;
        padding: 2px;
        margin-top: 5px;
        cursor: pointer;
    }

    .buttomtags{
        margin-left: -35px;
        width: 400px;
    }

    .fifteen{
 color: #fff;
 display: flex;
 margin-left: 50px;
  margin-top: 10px;
  position: relative;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.fifteen h2{
  font-size: 70px;
  color: #7BC74D;
}

.fifteen h3{
  font-size: 28px;
  line-height: 1.1;
  font-weight: 400;
  position: relative;
}

.iconsab{
    background-color: var(--odd-bg);
    width: fit-content;
    border-radius: 1000px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.iconsab button{
    background-color: #fff;
    border-radius: 1000px;
    height: 35px;
    display: block;
    margin: 0 auto;
    width: 35px;
    border: none;
    transition: 0.2s ease;
}

.iconsab button:hover{
    border-radius: 10px;
    transform: rotate(45deg);
}

.thirdodd{
    height: 100vh;
    background-color: var(--odd-bg );
    display: block;
    margin: 0 auto;
}

.leftthree{
    height: 20%;
    width: 100%;
}





 .myskilltext{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35%;
        position: relative;
        top: 85px;
    }

    .myskilltext h3{
        font-size: 50px;
        line-height: 1;
        margin-left: -30px;
        color: #fff;
    }

    .myskilltext p{
        font-size: 13px;
        width: 500px;
        margin-top: 10px;
        margin-left: -30px;
        color: #fff;

    }

    .rightthree{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        padding: 30px;
    }

    .threele{
        display: block;
        margin: 0 auto;
    }

    .big{
        background-color: var(--even-bg);
        height: 130px;
        width: 130px;
        border-radius: 10px;
    }

    .small{
        background-color: var(--even-bg);
        height: 50px;
        width: 50px;
        border-radius: 10px;
         padding: 30px;

    }

    .smallbox{
      display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 10px; 
  width: fit-content;
    }

    .innerthreeup{
     display: flex;
     padding: 5px;
     text-align: center;
     gap: 10px;
    }

    .small, .big{
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .small:hover, .big:hover{
        transform: scale(1.1) rotate(5deg);
    }


    .rightin{
        display: flex;
        gap: 10px;
    }

    .big img{
      height: 100px;
    }





.container{
  width: 400px;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.skillbar{
  background-color: var(--even-bg);
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  &::before{
    content:  attr(data-skill); 
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  } 

  &.learning::before{
    width: calc(20% - 14px);
    background: #6FAE44 ;
  }
  &.basic::before{
    width: calc(40% - 14px);
    background: #5B953A;
  }
  &.intermediate::before{
    width: calc(60% - 14px);
    background: #487C31;
  }
  &.advanced::before{
    width: calc(80% - 14px);
    background: #366428;
  }
  &.expert::before{
    width: calc(100% - 14px);
    background: #254D1F
;
  }
} 

