@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

:root {
  --even-bg:#393E46 ;
  --odd-bg:#222831 ;
  --font-color:#EEEEEE;
  --primary-font:#7BC74D;
}

body{
    background-color: var(--odd-bg);
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    justify-content: center;
}

nav{
    display: flex;
    backdrop-filter: blur(8px);
    background-color: rgba(12, 16, 18, 0.274);
    width: 95vw;
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-radius: 100px;
    gap: 21.5vw;
    border: 0.2px solid rgba(255,255,255, 0.1);
}

ul{
    display: flex;
    gap: 20px;
}

ul li{
        color: var(--font-color);
        transition: 0.6s ease;

}

ul li:hover{
    color: #afafaf;
}

.navleft{
    display: flex;
    align-items: center;
    color: var(--font-color);
    gap: 5px;
}

.navleft img{
    background-color: white;
    border-radius: 100px;
    height: 50px;
    padding: 5px;
    float: left;
}

.navright{
    display: flex;
    gap: 7px;
    align-items: center;

}

.insta{
     color: black;
    background-color: var(--font-color);
    padding: 4px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    height: 35px;
    width: 35px;
}

.navright .what{
    color: black;
    background-color: var(--font-color);
    padding: 4px;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    height: 35px;
    width: 35px;
}

.github{
    backdrop-filter: blur(8px);
    background: black;
    border-radius: 100px;
    display: flex;
    color: var(--font-color);
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 4px  4px 4px 15px;
    cursor: pointer;

}

button{
    cursor: pointer;
}



.github button{
    transform: rotate(25deg);
    transition: 0.6s ease;
    font-size: 19px;
}

.github:hover button{
    transform: rotate(90deg);
}

.oddfirst{
    height: 87vh;
    width: 100%;
    background-color: var(--odd-bg);
    z-index: -1;
}

.even{
    height: 100vh;
    width: 100%;
    background-color: var(--odd-bg);
}

